<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th>Contenido</th>
      <th>Titulo</th>
      <th>Likes</th>
      <th>Category</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.contenido %></td>
        <td><%= post.titulo %></td>
        <td><%= post.likes %></td>
        <td><%= post.category %></td>
        <td><%= post.created_at%></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<a href="/buscar">buscar</a>
<br>

<%= link_to 'New Post', new_post_path %>
